@import "../../../../../../node_modules/lbh-frontend/lbh/base";
@import "../../../../../../node_modules/govuk-frontend/govuk/helpers/media-queries";

.mtfh-person-form {
  @include govuk-media-query($from: tablet) {
    max-width: 458px;
  }

  &__input {
    &--full {
      width: 100%;
    }

    &--contained {
      width: 300px;
      max-width: 100%;
    }
  }
}
