@import "~lbh-frontend/lbh/base";

.mtfh-processes-menu {
  @include lbh-body-m();
  &__description {
    max-width: 600px;
  }
  &__list {
    list-style: none;
  }
  &__process-list {
    list-style: none;
    li {
      margin: 1rem;
    }
  }
  &__link {
    label {
      color: lbh-colour("lbh-link");
      text-decoration: underline;

      &:hover {
        color: lbh-colour("lbh-link-hover");
      }

      &:before {
        color: lbh-colour("lbh-black");
      }
    }
  }
}
