@import "~lbh-frontend/lbh/base";

.mtfh-processes-menu {
  @include lbh-body-m();
  &__description {
    max-width: 600px;
  }
  &__list {
    list-style: none;
  }
  &__process-list {
    list-style: none;
    li {
      margin: 1rem 0;
    }
  }
  &__link {
    color: lbh-colour("lbh-link");
    text-decoration: underline;
  }
}
