.lbh-dialog-contact-details {
  display: grid;
  justify-content: center;
  width: 40%;

  .lbh-dialog__close {
    display: block;
    margin-top: 0.5em;

    svg {
      margin-top: 0.4em;
      margin-right: 30px;
    }
  }

  .lbh-dialog__title {
    margin-top: 2rem;
    position: unset !important;
  }

  .govuk-visually-hidden {
    display: block;
    width: 55px !important;
    clip: unset !important;
    clip-path: unset !important;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px !important;
  }

  fieldset:first-of-type {
    margin-top: 0;
  }
}
